In [11]:
import numpy as np
#수학적 계산 관련 함수 제공
import pandas as pd
#데이터를 데이터 프레임 형식으로 다루는 라이브러리. 데이터 이용시 필수
import seaborn as sns
#시각화 1 더 화려함
import matplotlib.pyplot as plt
#시각화 2 덜 화려함
from sklearn import datasets
#사이킷런에서 제공하는 다양한 데이터를 이용 가능

In [12]:
from sklearn.datasets import fetch_openml

raw_boston = fetch_openml(name='boston')
#이게 원래는 raw_boston = datasets.load-boston()으로 해야하는데 사이킷런 1.2 이후로 삭제 되서 이거로 대체함
X_boston = pd.DataFrame(raw_boston.data)
#data = feature = 입력 데이터 부분
Y_boston = pd.DataFrame(raw_boston.target)
#target = 출력 데이터
df_boston = pd.concat([X_boston,Y_boston],axis=1)
#입출력 데이터를 결합하여 전체 데이터 프레임 제작
##axis=0이면 위+아래 형태로 , axis=1이면 좌+우 형태로 합침
###피처 와 타깃은 보통 좌우로 합친다

/Users/kcm/anaconda3/envs/ml/lib/python3.8/site-packages/sklearn/datasets/_openml.py:303: UserWarning: Multiple active versions of the dataset matching the name boston exist. Versions may be fundamentally different, returning version 1.
  warn(
/Users/kcm/anaconda3/envs/ml/lib/python3.8/site-packages/sklearn/datasets/_openml.py:1002: FutureWarning: The default value of `parser` will change from `'liac-arff'` to `'auto'` in 1.4. You can set `parser='auto'` to silence this warning. Therefore, an `ImportError` will be raised from 1.4 if the dataset is dense and pandas is not installed. Note that the pandas parser may return different data types. See the Notes Section in fetch_openml's API doc for details.
  warn(

In [13]:
len(df_boston)
#len은 길이를 반환하는 함수인데, 데이터 프레임의 전체 row를 반환해줌
##즉, 506개의 데이터로 이뤄짐. 집이 506채라는 뜻

506

In [16]:
df_boston.head()
#무조건 0~4행을 보여주는 함수임. 물론 (n)으로 출력 개수 커스텀 가능
##원래 데이터는 이름이 없고 숫자만 반환하는데 이는 이렇게 설정해야함
feature_boston = raw_boston.feature_names
##이건 보스턴 데이터의 피처 이름을 확인하는 거고
#print(feature_boston)
##이걸로 피처들의 이름만 뜸
col_boston=np.append(feature_boston,['target'])
#원하는건 피처 + 타겟 형태이므로 append함수를 통해 연결해줌
df_boston.columns = col_boston
df_boston.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [20]:
raw_iris=datasets.load_iris()
X_iris = pd.DataFrame(raw_iris.data)
Y_iris = pd.DataFrame(raw_iris.target)
df_iris = pd.concat([X_iris,Y_iris],axis=1)

In [21]:
feature_iris=raw_iris.feature_names
print(feature_iris)

['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']

In [22]:
col_iris=np.append(feature_iris,['target'])
df_iris.columns = col_iris
df_iris.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [24]:
raw_wine=datasets.load_wine()
X_wine = pd.DataFrame(raw_wine.data)
Y_wine = pd.DataFrame(raw_wine.target)
df_wine = pd.concat([X_wine,Y_wine],axis=1)

In [25]:
feature_wine = raw_wine.feature_names
print(feature_wine)

['alcohol', 'malic_acid', 'ash', 'alcalinity_of_ash', 'magnesium', 'total_phenols', 'flavanoids', 'nonflavanoid_phenols', 'proanthocyanins', 'color_intensity', 'hue', 'od280/od315_of_diluted_wines', 'proline']

In [26]:
col_wine=np.append(feature_wine,['target'])
df_wine.columns = col_wine
df_wine.head()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,target
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0,0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0,0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0,0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0,0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0,0

대충
raw_data=datasets.load_data()
X_data = dp.DataFrame(raw_data.data)
Y_data = dp.DataFrame(raw_Data.target)
df_data = dp.concat([X_data,Y_data],axis=1)

feature_data = raw_data.feature_names
col_data=np.append(feature_data,['target'])
df_data.columns = col_data
df_wine.head()

이런식으로 데이터의 형태를 확인함을 알 수 있음